/* styles.css */
   

img   {
    height: 300px;
    width: 300px;
    border: solid 4px gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    box-shadow: 1px 5px 5px 2px;
    margin-bottom: 15px;
    margin-top: 10px;
}
#title {
    text-align: center;
    font-size: 80px;
    margin: none;
    padding: none;
    border: 5px solid black;
    display: block;
}

#list1 {
    font-size: 100px;
    text-align: center;
    margin: none;
    padding: none;
    list-style-type: none;
}

body {
    background-color: darkgrey;
    text-align: auto;
}

#header {
    font-size: 80px;
    border: solid 5px black;
    text-align: center;
    position: relative;
    margin: none;
    padding: none;
    box-shadow: 2px 4px 5px 3px;
}

.Recipebox {
    border: 5px solid darkblue;
    background-color: lightgray;
    font-style: italic;
    margin: -5px;
}

.Ingredients {
    text-align: center;
    padding-left: 40px;
    font-size: 50px;
    margin: 5px;
}
#RTT, #RTMP {
    text-align: center;
    margin-left: 200px;
    font-size: 30px;
    
    
}

/*highlighted text*/
span  {
    background-color: yellow;
   
}
p {
    text-align: center;

}

/* dropdown button */
.dropbtn {
    background-color: gray;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    text-align: left;
}

/* div container used for dropdown content position */
.dropdown {
    position: relative;
    text-align: left;
}
/* hidden dropdown content*/
.dropdown-content {
    position: absolute;
    background-color: darkgray;
    min-width: 100px;
    box-shadow: 0px 8px 16px black;
    z-index: 1;
    display: none;
    
}
/* links inside dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    
}

/* color of dropdown links (hover)*/
.dropdown-content a:hover {
    background-color: blue;
}
/* show the dropdown on hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: rgb(2, 5, 2);
}


* {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
